<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@vanillawc/wc-resume@latest/index.min.js"></script>
  <script type="module">
    const urlParams = new URLSearchParams(window.location.search);
    const src = new URL('/', import.meta.url).toString() + urlParams.get('source');
    const theme = urlParams.get('theme');
    console.log(theme);
    const tag = `<wc-resume src="${src}"theme="https://cdn.jsdelivr.net/npm/@vanillawc/wc-resume@latest/themes/${theme}"></wc-resume>`;
    document.querySelector('body').innerHTML = tag;
  </script>
</head>
<body>
</body>
</html>